@font-face{
	src: url('fuente/gotham Thin.otf') format('truetype');
	font-family: 'gotham Thin';
}
@font-face{
	src: url('fuente/Discopia Regular.ttf') format('truetype');
	font-family: 'Discopia Regular';
}
#Titulo{
	margin-left: 15em;
  margin-right: 15em; 
  text-align: center;
  position: relative;
  box-sizing: border-box;
  $border: 5px;
  color: #FFF;
  background: #FFF;

}
body{
  background-image: url('imgs/fondoform.jpg') ;
  background-size: cover;
}
.animate-charcter{
  text-transform: uppercase;
 	background-image: linear-gradient(
    -225deg,
    #cc005a 0%,
    #44107a 29%,
    #334BFF 67%,
    #6A33FF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 700%;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
h3{
  font-family: 'Discopia Regular';
}
div.background{
  text-align: center;
  background
}
.botonneon{
  position: relative;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: #DF61FE;
}
.botonneon:hover{
  background: #6A33FF;
  box-shadow: 0 0 10px #6A33FF,0 0 40px #6A33FF,0 0 80px #6A33FF;
  transition-delay: 1s;
}
.botonneon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background:  linear-gradient(90deg,transparent,#6A33FF);
}
.botonneon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background:  linear-gradient(270deg,transparent,#6A33FF);
}
.botonneon:hover #span3{
  right: 100%;
  transition: 1s;
}
.container{
    margin-left: 15em;
    margin-right: 15em;
    background-color: #DAFDFF;
    box-shadow: 2px 2px 10px 2px
}